// Glyphicons font path
$icon-font-path:        "../fonts/";

$light 			: 300;
$regular 		: normal;
$bold 			: bold;
$extra-bold	: 800;
$black    	: 900;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$color1 : #93b83c; //Logo Background . Green Light
$color2 : #003e0a; // Green Dark
$color3 : #008639; //Green
$color4 : #8b8b8b; //Grey
$color5 : #282828; //Menu Background


$green       	: $color3;
$green-dark  	: $color2; 
$green-light 	: $color1;
$grey					: $color4;
$dark					: $color5;

$primary-font: "Visby CF";

